table {
    width: 100%;
    margin-top: 5% auto;
    margin-left: 2% auto;
    position: center;
}

.hide {
    display: none;
}

mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}

.search-div {
    margin: 10px;
}

.search-form-field {
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
    display: none;
}

.search-form-field div.mat-form-field-infinix {
    border-top: 0px;
}

.search-form-field div.mat-form-field-wraper {
    padding-bottom: 0px;
}

.search-form-field div.mat-form-field-sufix button {
    height: 32px;
    width: 32px;
}