<div class="search-div">
  <button mat-raised-button routerLink="/emploi">
      <mat-icon>add</mat-icon>Ajouter
    </button>
    <mat-form-field class="search-form-field">
      <input matInput [(ngModel)]="searchKey" placeholder="Recherche" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
</div>

 
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" aria-label="Elements" matSort>
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>CODE</th>
      <td mat-cell *matCellDef="let element">{{element.code}}</td>
    </ng-container>
    <ng-container matColumnDef="libelle">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Emploi</th>
      <td mat-cell *matCellDef="let element">{{element.libelle}}</td>
    </ng-container>
    <ng-container matColumnDef="filiereAct">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Filière d'activité</th>
      <td mat-cell *matCellDef="let element">{{element.filiereAct}}</td>
    </ng-container>
    <ng-container matColumnDef="famille">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Famille</th>
      <td mat-cell *matCellDef="let element">{{element.famille}}</td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button class="material-icons" (click)="onSelect(row)" ><mat-icon>launch</mat-icon></button>
        <button class="material-icons"  color="warn" (click)="onDelete(row.code)" ><mat-icon>delete_outline</mat-icon></button>
      </td>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
