<!-- 
  <!--Generer la fiche profil
<mat-toolbar>
        <span>Fiche Entreprise</span>
      </mat-toolbar>
      
      <form [formGroup]="service.form" class="normal-form">
      <mat-grid-list cols="2" rowHeight="1200px"  rowlength="1200px">
        <mat-grid-tile>
          <div class="controles-container">
            <input type="hidden" formControlName="$key">
            <mat-form-field>
                <mat-label>Denomination</mat-label>
              <input formControlName="firstName" matInput placeholder="Denomination*">
              <mat-error> Vérifier le Nom. </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="lastName" matInput placeholder="Adresse*">
              <mat-error>Vérifier le Prenom. </mat-error>
            </mat-form-field>
           
            <mat-form-field>
                  <input formControlName="diplome" matInput placeholder="Ville*">
                  <mat-error>Vérifier le diplôme.</mat-error>
            </mat-form-field>
         
            <mat-form-field>
                <input formControlName="niveauInstruction" matInput placeholder="Numéro de fax*">
                <mat-error>Vérifier le niveau d'instruction.</mat-error>
          </mat-form-field>
       
          <mat-form-field>
            <input formControlName="emploi" matInput placeholder="Mail*">
            <mat-error>Verifier l'emploi.</mat-error>
          </mat-form-field>
          <mat-form-field>
              <input formControlName="managerN1" matInput placeholder="Activité">
          </mat-form-field>
          
          <mat-form-field>
              <input formControlName="sexe" matInput placeholder="Code Postal">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="ancienneteEmploi" matInput placeholder="Matricule Fiscal">
        </mat-form-field>
        <div class="button-row"> 
                <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                <button mat-raised-button color="warm" (click)="onClear()">Clear</button>
              </div>
        <mat-form-field>
         <input formControlName= "ancienneteSociete" matInput placeholder="Ancienneté dans la société">
        </mat-form-field>
        <mat-toolbar>
          <span>Potentiel/Performance</span>
        </mat-toolbar>
        <mat-form-field>
          <input formControlName="potentiel" matInput placeholder="Potentiel">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="performance" matInput placeholder="Performance">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="readiness" matInput placeholder="Readiness">
        </mat-form-field>
        <mat-toolbar>
          <span>Risque de Départ</span>
        </mat-toolbar>
        <mat-form-field>
          <input formControlName="probabilite" matInput placeholder="Probabilité">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="impact" matInput placeholder="Impact">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="motif" matInput placeholder="Motif">
        </mat-form-field>
        
        
           
          
              
              <div class="button-row"> 
                <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                <button mat-raised-button color="warm" (click)="onClear()">Clear</button>
              </div>
      
      
      
          </div>
      
        </mat-grid-tile>
        
      
      </mat-grid-list>
      
      </form>-->